<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Components - Hamburger Menu</title>
  <link rel="stylesheet" href="../../css/normalize.css" />
  <link rel="stylesheet" href="../../css/font.css" />
  <link rel="stylesheet" href="../../css/typography.css" />
  <link rel="stylesheet" href="../../css/center-content.css" />
  <link rel="stylesheet" href="../../css/hamburger-menu.css" />

</head>

<body style="background-color: #f7f7fa">
  <div class="component-container">
    <div id="hamburger-menu" class="container">
      <div class="inner-container">

        <button id="menu">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>

      </div>
    </div>

    <div id="overlay" class="overlay overlay-hidden">

    </div>

    <div class="content-container">
      <div class="content box-1"></div>
      <div class="content box-2"></div>
      <div class="content box-3"></div>
      <div class="content box-4"></div>
      <div class="content box-5"></div>
    </div>
  </div>

  <script type="text/javascript" src="../../../dist/main.js"></script>
</body>

</html>