<!DOCTYPE html>
<html>

<head>
  <title>Carousel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <!-- Carousel View -->
  <div id="slider" class="container">
    <ul id="slider-container"></ul>

    <div class="navigation-previous">
      <button id="previous-button" class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="#FFF">
          <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div>

    <div class="navigation-next">
      <button id="next-button" class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="#FFF">
          <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>

  <script src="modules/windowResize.js"></script>
  <!-- <script src="modules/navigation-dev.js"></script> -->
  <script src="modules/navigation.js"></script>
  <!-- <script src="script-dev.js"></script> -->
  <script src="script.js"></script>
</body>
</html>