<!-- The form needs the following fields

Full Name
Email
Phone Number
Project Details -->

<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Components - Form</title>
  <link rel="stylesheet" href="../../css/normalize.css" />
  <link rel="stylesheet" href="../../css//fonts.css" />
  <link rel="stylesheet" href="../../css/typography.css" />
  <link rel="stylesheet" href="../../css/center-content.css" />
  <link rel="stylesheet" href="./style.css" />
</head>

<body style="background-color: #edf2f7">
  <div class="component-container">

    <div id="form" class="container">
      <div class="column">
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" placeholder="Full Name" />
      </div>

      <div class="column">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Email" />
      </div>

      <button id="formSubmit">submit</button>
    </div>
    
  </div>
  <script type="text/javascript" src="./script.js"></script>
</body>

</html>