<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Components - Form</title>
  <link rel="stylesheet" href="../../css/normalize.css" />
  <link rel="stylesheet" href="../../css//fonts.css" />
  <link rel="stylesheet" href="../../css/typography.css" />
  <link rel="stylesheet" href="../../css/center-content.css" />
  <link rel="stylesheet" href="./style.css" />
</head>

<body style="background-color: #edf2f7">
  <div class="component-container">

    <form id="form" class="container" novalidate>
      <div class="column">
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" placeholder="Full Name" />
      </div>

      <div class="column">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Email" />
      </div>

      <div class="column">
        <label for="phone">Phone</label>
        <div class="tel-country-code">
          <div class="country-code-tel">+1</div>
          <input type="tel" id="phone" placeholder="Phone" />
        </div>
      </div>

      <div class="column">
        <label for="projectDetails">Project Details</label>
        <div class="max-characters">
          <textarea id="projectDetails" placeholder="Project Details"></textarea>
          <div class="character-count"><span>0</span> / 300</div>
        </div>
      </div>

      <button id="formSubmit">submit</button>

      <ul class="errors">
        <li></li>
      </ul>
    </form>
    
  </div>
  <script type="text/javascript" src="./script.js"></script>
</body>

</html>