#cta.container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 25px;
  margin-bottom: 64px;
}

#cta .inner-container {
  margin: 0 auto;
  max-width: 1206px;
  width: 100%;
  background: url('../../../assets/images/background-cta.png') #f9f9fc no-repeat center center;
  background-size: cover;
  border-radius: 22px;
  padding: 73px 0;
}

#cta .paragraph {
  font-size: 38px;
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  line-height: 52px;
  letter-spacing: 1.2px;
  color: #333333;
  margin-bottom: 46px;
} 

#cta .button-container {
  display: flex;
  justify-content: center;
}

#cta .button-container svg {
  margin-right: 12px;
}

@media(min-width: 855px) {
  #cta .inner-container {
    background: url('../../../assets/images/background-cta-large.jpg') #f9f9fc no-repeat center center;
  }

  #cta .paragraph {
    font-size: 50px;
    line-height: 70px;
  }
}