<!DOCTYPE html>
<html>

<head>
  <title>Components - Header</title>
  <link rel="stylesheet" href="../css/normalize.css" />
  <link rel="stylesheet" href="../css/font.css" />
  <link rel="stylesheet" href="../css/header.css" />

</head>

<body>
  <div class="component-container">

    <div class="header-container">
      <div class="column">
        <img src="../assets/images/logo.jpg" alt="company logo" />
      </div>
      <div class="column">
        <ul>
          <li>home</li>
          <li>about us</li>
          <li>services</li>
          <li>works</li>
        </ul>
      </div>
      <div class="column"></div>
    </div>

  </div>
</body>

</html>