<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Components - Card Services</title>
  <link rel="stylesheet" href="../css/normalize.css" />
  <link rel="stylesheet" href="../css/font.css" />
  <link rel="stylesheet" href="../css/typography.css" />
  <link rel="stylesheet" href="../css/center-content.css" />
  <link rel="stylesheet" href="../css/card-services.css" />

</head>

<body style="background-color: #f7f7fa">
  <div class="component-container">
    <div id="card-services" class="container">
      <div class="card-inner-container">

        <div class="icon">

          <svg class="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px">
            <path fill-rule="evenodd" fill="rgb(241, 240, 251)"
              d="M15.000,30.000 C6.705,30.000 -0.000,23.295 -0.000,15.000 C-0.000,6.705 6.705,-0.000 15.000,-0.000 C23.295,-0.000 30.000,6.705 30.000,15.000 C30.000,23.295 23.295,30.000 15.000,30.000 Z" />
          </svg>

          <svg class="pentagon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35px" height="34px">
            <path fill-rule="evenodd" stroke="rgb(94, 59, 238)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="miter"
              fill="none"
              d="M15.125,3.500 C15.657,3.074 16.318,2.842 17.000,2.842 C17.682,2.842 18.343,3.074 18.875,3.500 L30.320,12.654 C30.810,13.047 31.165,13.582 31.334,14.187 C31.504,14.791 31.480,15.434 31.265,16.023 L26.718,28.524 C26.508,29.103 26.125,29.604 25.620,29.957 C25.115,30.310 24.514,30.500 23.898,30.500 L10.101,30.500 C9.485,30.500 8.884,30.310 8.380,29.957 C7.875,29.604 7.492,29.103 7.281,28.524 L2.736,16.023 C2.522,15.434 2.497,14.791 2.667,14.187 C2.836,13.582 3.191,13.047 3.681,12.654 L15.125,3.500 Z" />
          </svg>

        </div>

        <div class="heading">
          UI/UX Design
        </div>

        <div class="description">
          lorem ipsum dolor sit amet consectur adi pising leo
        </div>

      </div>
    </div>
  </div>
</body>

</html>