<!DOCTYPE html>
<html>

<head>
  <title>Components - Button2</title>
  <link rel="stylesheet" href="../css/normalize.css" />
  <link rel="stylesheet" href="../css/font.css" />
  <link rel="stylesheet" href="../css/secondary-button.css" />

</head>

<body>

  <div class="component-container-cv">
    <button class="button-download-cv">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="23px" height="20px" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
      </svg>

      <span>
        download cv
      </span>
    </button>
  </div>
</body>

</html>