<!-- About Section -->
<div id="about" class="container reveal">

  <div class="inner-container">

    <div class="row">

      <div class="column">
        <div class="t-heading3">
          <h3 id="aboutHeading" class="transition animate">software developer</h3>
        </div>

        <div class="t-heading4-lg">
          <h4 id="aboutSubHeading" class="transition animate">software developer with 10 years of experience</h4>
        </div>

        <div class="t-paragraph-dark text-center">
          <p id="aboutContent" class="transition animate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            vitae blandit lectus. Praesent at hendrerit velit, at
            dictum</p>
        </div>

        <div id="aboutButton" class="button-container">
          <button id="primary-button" class="contact-me button button-margin-bottom">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px"
              height="19px">
              <path fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-linecap="round"
                stroke-linejoin="miter" fill="none"
                d="M2.667,4.000 C2.667,3.558 2.842,3.134 3.155,2.821 C3.467,2.509 3.891,2.333 4.333,2.333 L17.667,2.333 C18.109,2.333 18.533,2.509 18.845,2.821 C19.158,3.134 19.333,3.558 19.333,4.000 L19.333,14.000 C19.333,14.442 19.158,14.866 18.845,15.178 C18.533,15.491 18.109,15.667 17.667,15.667 L4.333,15.667 C3.891,15.667 3.467,15.491 3.155,15.178 C2.842,14.866 2.667,14.442 2.667,14.000 L2.667,4.000 Z" />
              <path fill-rule="evenodd" stroke="rgb(255, 255, 255)" stroke-width="2px" stroke-linecap="round"
                stroke-linejoin="miter" fill="none"
                d="M2.667,5.666 L8.917,10.667 C9.508,11.140 10.243,11.398 11.000,11.398 C11.757,11.398 12.491,11.140 13.082,10.667 L19.333,5.666 " />
            </svg>
            <span>
              contact me
            </span>
          </button>
        </div>
      </div>

      <div class="column">
        <div class="image">
          <img src="../../../../assets/images/about-section-image-1.jpeg" />
        </div>
      </div>

    </div>

  </div>

</div>