<div id="clients" class="container reveal">


  <div class="inner-container">
    <div class="brands">

      <div class="brand"> <img src="../../../../assets/images/brand-logo-1.jpg" alt="brand-logo-1" /> </div>

      <div class="brand"> <img src="../../../../assets/images/brand-logo-2.jpg" alt="brand-logo-2" /> </div>

      <div class="brand"> <img src="../../../../assets/images/brand-logo-3.jpg" alt="brand-logo-3" /> </div>

      <div class="brand"> <img src="../../../../assets/images/brand-logo-4.jpg" alt="brand-logo-4" /> </div>

    </div>

  </div>


</div>