<div id="experience" class="container">
  <div class="inner-container">
    <div class="row flex-direction row-container">
      <div class="column">
        <div class="row flex-direction-row ">
          <div class="column">
            <p id="one">100+</p>
            <p id="two">projects</p2>
          </div>
          <div class="column">
            <p id="one">24</p>
            <p id="two">winning awards</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="row flex-direction-row">
          <div class="column">
            <p id="one">70+</p>
            <p id="two">happy clients</p>
          </div>
          <div class="column">
            <p id="one">10</p>
            <p id="two">years experience</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>