<div id="portfolio" class="container reveal">
  <div class="inner-container">

    <div class="content">
      <div class="row">
        <div class="column">
          <div class="heading3">
            <h3>Portfolio</h3>
          </div>

          <div class="heading4">
            <h4>Selected Works.</h4>
          </div>
        </div>

        <div class="column">
          <div class="paragraph">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae blandit lectus. Praesent at hendrerit
              velit, at
              dictum nisl.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="selected-works">

      <div class="row">

        <div class="column">
          <div class="selected-work-card">
            <div class="image">
              <img
                src="https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" />
            </div>
            <div class="info">
              <div class="title">Creativa - Elementor Template Kit</div>
              <div class="type">UI/UX Design</div>
            </div>
          </div>

          <div class="selected-work-card">
            <div class="image">
              <img
                src="https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" />
            </div>
            <div class="info">
              <div class="title">Creativa - Elementor Template Kit</div>
              <div class="type">UI/UX Design</div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="selected-work-card">
            <div class="image">
              <img
                src="https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" />
            </div>
            <div class="info">
              <div class="title">Creativa - Elementor Template Kit</div>
              <div class="type">UI/UX Design</div>
            </div>
          </div>

          <div class="selected-work-card">
            <div class="image">
              <img
                src="https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" />
            </div>
            <div class="info">
              <div class="title">Creativa - Elementor Template Kit</div>
              <div class="type">UI/UX Design</div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>