#experience .flex-direction-column {
    flex-direction: column;
}

#experience .flex-direction-row {
    flex-direction: row;
}

#experience .container {
    background-color: none;
    box-sizing: border-box;
}

#experience .row {
    display: flex;
}

#experience .row-container {
  flex-direction: column;
}

#experience .column {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#experience #one {
    display: flex;
    align-items: center;
    border: none;
    font-family: "Poppins-Medium";
    text-transform: uppercase;
    font-size: 48px;
    line-height: 42px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 0px;
}

#experience #two {
    display: flex;
    align-items: center;
    border: none;
    list-style-type: none;
    font-family: "Poppins-Medium";
    color: rgb(200, 200, 200);
    text-transform: uppercase;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0px;
}

@media (min-width: 850px) { 
  #experience.container {
    padding: 75px 0;
  }

  #experience #one { 
    margin-bottom: 30px;
  }
}


@media (min-width: 855px){
    #experience .flex-direction {
        flex-direction: row;
    }
}