.button-margin-bottom {
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: column;
}

.column {
    width: 100%;
}

.margin-right-24 {
    margin-right: 24px;
}

#hero.container {
    background-color: #F9F9FC;
    padding: 50px 0; /* padding: 142px 0; desktop*/
}

#hero .inner-container {
    margin: 0 auto;
    max-width: 1204px;
    width:  100%;
}

#hero .content {
    display: flex;
    flex-direction: column;
}

#hero .heading {
    margin-bottom: 20px; /* 46px desktop */
}
#hero .heading h1 {
    font-size: 16px;
    font-family: "Poppins-Medium";
    font-weight: 500;
    text-align: center; /* text-align: left */
    text-transform: uppercase;
    color: #5e3bee;
    letter-spacing: 2px;
    margin: 0;
}

#hero .paragraph {
    box-sizing: border-box;
    max-width: 510px;
    width: 100%; 
    font-size: 40px; /*font-size: 60px;*/
    font-family: "Poppins-Bold";
    font-weight: 700;
    text-align: center; /* text-align: left*/
    line-height: 1.6;
    color: #333;
    padding: 0 10px;
    margin-bottom: 30px;
}

#hero .paragraph p {
    margin: 0;
}

#hero .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero .hero-image {
    margin-top: 55px;
    padding: 0 10px;
}

#hero img {
    width: 100%;
}

/* Desktop CSS */
@media (min-width: 1440px) {
    
}