html, body {
    height: 100%;
}

.flex-direction {
    flex-direction: column;
}

.container {
    background-color: none;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#one {
    display: flex;
    align-items: center;
    border: none;
    font-family: "Poppins-Medium";
    text-transform: uppercase;
    font-size: 48px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 0px;
}

#two {
    display: flex;
    align-items: center;
    border: none;
    list-style-type: none;
    font-family: "Poppins-Medium";
    color: rgb(200, 200, 200);
    text-transform: uppercase;
    font-size: 16px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 0px;
}

@media (min-width: 855px){
  #legend .flex-direction {
      flex-direction: row;
  }
}