 /* Html Text Element Resets */
 h1, h2, h3, h4, h5, h6, p {
   margin: 0;
 }

/* Typography Styles */
.t-heading3 {
  font-size: 16px;
  font-family: 'Poppins-Medium';
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #5e3bee;
  margin-bottom: 26px;
}

.t-heading4 {
  font-size: 34px;
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 28px;
}

.t-heading4-lg {
  font-size: 44px;
  font-family: 'Poppins-Bold';
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #5e3bee;
  margin-bottom: 45px;
}

.t-paragraph-light {
  opacity: 0.5;
  font-size: 16px;
  font-family: 'Poppins-Regular';
  font-weight: 400;
  text-align: center;
  line-height: 32px;
  color: #121212;
}

.t-paragraph-dark {
  font-size: 16px;
  font-family: 'Poppins-Regular';
  font-weight: 400;
  line-height: 32px;
  color: #333333;
}

/* Text Alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


@media (min-width: 1024px) { 
  .t-heading4 {
    font-size: 44px;
    margin-bottom: 36px;
  }

  .t-heading4-lg {
    font-size: 60px;
    margin-bottom: 62px;
    text-align: left;
  }
}