/* .component-container {
  display: block;
  max-width: 1080px;
}

.content-container {
  width: 100%; 
  height: 100%;
  margin-top: 50px;
}

.content {
  width: 100%;
  height: 500px;
}

.box-1 {
  background-color: red;
}

.box-2 {
  background-color: greenyellow;
}

.box-3 {
  background-color: blue;
}

.box-4 {
  background-color: purple;
}

.box-5 {
  background-color: aqua;
} */

#header #menu-open-button {
  width: 46px;
  height: 46px;
  background-color: transparent;
  border: none;
}

#navigation-bar.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border: 1px solid #000; 
  background-color: #FFF;
}

#navigation-bar .inner-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#navigation-bar button {
  width: 46px;
  height: 46px;
  background-color: transparent;
  border: none;
}

#hamburger-menu.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  transition: 0.25s ease-in-out;
}

#hamburger-menu.overlay-shown {
  opacity: 1;
  visibility: visible;
}

#hamburger-menu.overlay-hidden {
  opacity: 0;
  visibility: hidden;
}

#hamburger-menu .header {
  width: 100%;
  height: 50px;
  text-align: right;
}

#hamburger-menu .header button {
  width: 46px;
  height: 46px;
  background-color: transparent;
  border: none;
}

#hamburger-menu .navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#hamburger-menu .navigation-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#hamburger-menu .navigation-container li {
  font-size: 18px;
  font-family: 'Poppins-Regular';
  font-weight: 400;
  color: #000;
  padding: 15px 25px;
  transition: 0.5s ease-in-out;
}

#hamburger-menu .navigation-container li.active {
  color: #FFF;
  background-color: #5e3bee;
  border-radius: 30px;
}

@media (min-width: 1024px) { 
  #header #menu-open-button {
    display: none;
  }

  #navigation-bar #menu-open-button {
    display: none;
  }
}