<!DOCTYPE html>
<html>

<head>
  <title>{{ htmlWebpackPlugin.options.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

  {{!-- Overlay Modal --}}
  {{> components/pages/home/overlay}}

  {{!-- Hamburger Menu Bar --}}
  {{> components/pages/home/hamburger-menu-bar}} 

  {{!-- Header --}}
  {{> components/pages/home/header}} 

  {{!-- Hero --}}
  {{> components/pages/home/hero}} 

  {{!-- Experience --}}
  {{> components/pages/home/experience}}

  {{!-- Service --}}
  {{> components/pages/home/service}} 

  {{!-- About --}}
  {{> components/pages/home/about}}

  {{!-- Clients --}}
  {{> components/pages/home/clients}}

  {{!-- Portfolio --}}
  {{> components/pages/home/portfolio}}

  {{!-- Testimony --}}
  {{> components/pages/home/testimony}}

  {{!-- GitHub Project --}}
  {{> components/pages/home/github-project}}

  {{!-- CTA --}}
  {{> components/pages/home/cta}}

  {{!-- Footer --}}
  {{> components/pages/home/footer}}
  
</body>

</html>