.button-download-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 204px;           
    height: 70px;
    color: rgb(51, 51, 51);
    font-family: "Poppins-Medium";
    text-transform: uppercase;
    background-color: #F9F9FC;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    
}

.button-download-cv:hover {
    background-color: none;
    border: 3px solid rgb(177, 177, 177);
    color: rgb(177, 177, 177);

}

.button-download-cv span {
    margin-left: 12px;
}
